<h4>Users</h4><br>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Foto</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Criado em</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= users.id %></th>
      <td><%= image_tag(user.avatar, class: "ui-w-100-forced rounded-circle", style: "with: 30px; heighy: 30px") %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.strftime("%d/%m/%Y %H:%M") %></td>
    <% end %>
  </tbody>
</table>